
<div class="well" ng-repeat="forum in forumDetailCtrl.forums.list"
	ng-if="forumDetailCtrl.curForumId == forum.id">

	<div class="well">
	
		<h1>Reply to Forum</h1>

		<form class="form-horizontal" name="postForm"
			ng-submit="forumDetailCtrl.addPost()">
			<fieldset>
				<div class="form-group">
					<label for="postForm" class="col-lg-2 control-label">Text</label>
					<div class="col-lg-10">
						<textarea class="form-control" name="postForm.text" rows="3"
							id="postForm.text" ng-model="forumDetailCtrl.post.text"></textarea>
						<span class="help-block">A longer block of help text that
							breaks onto a new line and may extend beyond one line.</span>
					</div>
				</div>
				<div class="form-group">
					<div class="col-lg-10 col-lg-offset-2">
						<button type="reset" class="btn btn-default">Cancel</button>
						<button type="submit" class="btn btn-primary">Submit</button>
					</div>
				</div>
			</fieldset>
		</form>

	</div>

	<h1>{{forum.title}}</h1>

	<div ng-repeat="post in forum.posts">

		<div>
			<span></span> <span></span>
		</div>

		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">{{post.author}} - {{post.created}}</h3>
			</div>
			<div class="panel-body">{{post.text}}</div>
		</div>

	</div>

</div>