<div class="jumbotron">
	<h1>Welcome {{forumCtrl.curUser.username}}!</h1>
	<p>This is a simple hero unit, a simple jumbotron-style component
		for calling extra attention to featured content or information.</p>

</div>

<div class="row">
	<div class="col-lg-6">
		<div class="well">

			<table class="table table-striped table-hover">

				<tr>

					<th>Title</th>
					<th>Author</th>
					<th>Date Created</th>

				</tr>

				<tr ng-repeat="forum in forumCtrl.forums.list">

					<td><a ui-sref="forum.detail({forumId:forum.id})">{{forum.title}}</a></td>
					<td>{{forum.author}}</td>
					<td>{{forum.created}}</td>

				</tr>

			</table>

			<hr>

		</div>
	</div>
	<div class="col-lg-6">

		<div class="well">

			<form class="form-horizontal" name="forumForm" ng-submit="forumCtrl.doAdd()">
				<fieldset>
					<div class="form-group">
						<label for="forumForm.title" class="col-lg-2 control-label">Title</label>
						<div class="col-lg-10">
							<input class="form-control" name="forumForm.title"
								id="forumForm.title" placeholder="Title" type="text" ng-model="forumCtrl.forum.title">
						</div>
					</div>
					<div class="form-group">
						<label for="forumForum.text" class="col-lg-2 control-label">Text</label>
						<div class="col-lg-10">
							<textarea class="form-control" name="forumForum.text" rows="3"
								id="forumForum.text" ng-model="forumCtrl.forum.posts[0].text"></textarea>
							<span class="help-block">A longer block of help text that
								breaks onto a new line and may extend beyond one line.</span>
						</div>
					</div>
					<div class="form-group">
						<div class="col-lg-10 col-lg-offset-2">
							<button type="reset" class="btn btn-default">Cancel</button>
							<button type="submit" class="btn btn-primary">Submit</button>
						</div>
					</div>
				</fieldset>
			</form>

		</div>

	</div>
</div>
<div class="row">
	<div class="col-lg-12" ui-view autoscroll="true"></div>

</div>