
<div class="row">
	<div class="bs-component well">
		<form name="userForm" novalidate class="form-horizontal" ng-submit="loginCtrl.doLogin($valid)">
			<fieldset>
				<div class="col-xs-6 col-md-6 col-md-offset-3">
					<h2 ng-cloak ng-show="loginCtrl.message.login.text!=null"
			   			class="help-block"><span class="label label-success">{{loginCtrl.message.login.text}}</span></h2>
					<h1>User Login</h1>
					<div class="form-group">
						<label for="username">Username:</label> <input type="text"
							name="username" class="form-control" id="username"
							ng-model="loginCtrl.curUser.username" ng-required="true">
						<p
							ng-show="userForm.username.$invalid && !userForm.username.$pristine"
							class="help-block">Username is required.</p>
					</div>

					<div class="form-group">
						<label for="password">Password:</label> <input type="password"
							name="password" class="form-control" id="password"
							ng-model="loginCtrl.curUser.password" ng-required="true">
						<p
							ng-show="userForm.password.$invalid && !userForm.password.$pristine"
							class="help-block">Password is required.</p>
					</div>
					<div class="form-group">
						<button type="submit" class="btn btn-primary btn-block"
							ng-disabled="userForm.$invalid">Submit</button>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</div>